/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * museo-slab:
 *   - http://typekit.com/eulas/00000000000000000000ec0f
 *   - http://typekit.com/eulas/00000000000000000000ec05
 *   - http://typekit.com/eulas/0000000000000000000100fe
 *   - http://typekit.com/eulas/000000000000000000010141
 *   - http://typekit.com/eulas/000000000000000000012043
 *   - http://typekit.com/eulas/00000000000000000000ec08
 *   - http://typekit.com/eulas/000000000000000000011aff
 *   - http://typekit.com/eulas/00000000000000000000ec0a
 * usual:
 *   - http://typekit.com/eulas/00000000000000007735a69c
 *   - http://typekit.com/eulas/00000000000000007735a69f
 *   - http://typekit.com/eulas/00000000000000007735a6b2
 *   - http://typekit.com/eulas/00000000000000007735a6b4
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-04-11 09:05:50 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=wab4ryf&ht=tk&f=2026.2027.2028.2029.2030.2031.2032.2033.25629.25634.25637.25638&a=23282444&app=typekit&e=css");

@font-face {
font-family:"museo-slab";
src:url("https://use.typekit.net/af/b230ac/00000000000000000000ec0f/27/l?subset_id=2&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/b230ac/00000000000000000000ec0f/27/d?subset_id=2&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/b230ac/00000000000000000000ec0f/27/a?subset_id=2&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"museo-slab";
src:url("https://use.typekit.net/af/2e949c/00000000000000000000ec05/27/l?subset_id=2&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/2e949c/00000000000000000000ec05/27/d?subset_id=2&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/2e949c/00000000000000000000ec05/27/a?subset_id=2&fvd=i1&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"museo-slab";
src:url("https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/53dec0/0000000000000000000100fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"museo-slab";
src:url("https://use.typekit.net/af/ea0e14/000000000000000000010141/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/ea0e14/000000000000000000010141/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/ea0e14/000000000000000000010141/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"museo-slab";
src:url("https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/aa4f4e/000000000000000000012043/27/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"museo-slab";
src:url("https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/l?subset_id=2&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/d?subset_id=2&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/f1892e/00000000000000000000ec08/27/a?subset_id=2&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"museo-slab";
src:url("https://use.typekit.net/af/c225e2/000000000000000000011aff/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c225e2/000000000000000000011aff/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c225e2/000000000000000000011aff/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"museo-slab";
src:url("https://use.typekit.net/af/696cdf/00000000000000000000ec0a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/696cdf/00000000000000000000ec0a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/696cdf/00000000000000000000ec0a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/ed550a/00000000000000007735a69c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ed550a/00000000000000007735a69c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ed550a/00000000000000007735a69c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/d09de2/00000000000000007735a69f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/d09de2/00000000000000007735a69f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/d09de2/00000000000000007735a69f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/e39010/00000000000000007735a6b2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/e39010/00000000000000007735a6b2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/e39010/00000000000000007735a6b2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/a851eb/00000000000000007735a6b4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a851eb/00000000000000007735a6b4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a851eb/00000000000000007735a6b4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-museo-slab { font-family: "museo-slab",serif; }
.tk-usual { font-family: "usual",sans-serif; }
