 <!--  footer -->
       <!--  footer -->
       <footer id="contact">
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="titlepage">
                        <h2>Contact Us</h2>
                     </div>
                     <div class="cont">
                        <h3>Some persuasive phrase! </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                     </div>
                  </div>
                                  
                  <div class="col-md-6">
                     <form id="request" class="main_form" method="post" action="/contact/">                        
                        <div class="row">
                           <div class="col-md-12 ">
                              {%csrf_token%}  
                              {{contactform.as_p}}
                           </div>
                           <div class="col-sm-12">
                              <button class="send_btn" type="submit">Send</button>
                           </div>                  
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>Copyright 2022, Juliana Schmidt <a href=""></a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>