<body>
    {% extends 'partials/base.html' %}
    
        {% block content%}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Check Availability</h1>
                    <form method="post">                                 
                        {%csrf_token%}
                        {% for field in form%}
                        <br>
                        {{field.label_tag}}
                        <br>
                        {{field}}
                        <br>
                        {% endfor %}                        
                
                        <button type="submit" class="book_btn">Check Availability</button>
                    </form>                      
                </div>
            </div>
        </div>
    </section>
                                                  
    
       
        {% endblock content %}
    </body>