<div>
    {% include 'partials/base.html' %}
    {% include 'partials/navbar.html'%}
</div> 
<body>
    {% block content%}  
        <h1>Sign Up</h1>
         <form method="post">                                 
               {%csrf_token%}
               {% for field in form%}
               <br>
               {{field.label_tag}}
               <br>
               {{field}}
               <br>
               {% endfor %}  
               <button type="submit" class="book_btn">Sign Up </button>
            </form>              
    {% endblock content %}
</body>